.user-info {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

.user-avator {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.user-info-cont {
    padding-left: 50px;
    flex: 1;
    font-size: 14px;
    color: #999;
}

.user-info-cont div:first-child {
    font-size: 30px;
    color: #222;
}

.user-info-list {
    font-size: 14px;
    color: #999;
    line-height: 25px;
}

.user-info-list span {
    margin-left: 70px;
}
.grid-cont-left{
	
	height: 100%;
	
}
.grid-num {
    font-size: 30px;
    font-weight: bold;
}
.grid-content {
    display: flex;
    align-items: center;
   height: 80px;
}
.grid-con-1>.grid-cont-left{
	width: 50px;
	background-color: #1890FF;
}
.grid-con-2>.grid-cont-left{
	width: 70px;
	background-color: #54c358;
}
.grid-con-3>.grid-cont-left{
	width: 50px;
	background-color: #c53e23;
}
.grid-con-icon>.ant-card-body{
	padding: 0 !important;
}
.grid-cont-right {
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: #999;
}
.grid-con-1 .grid-con-icon {
    background: rgb(45, 140, 240);
}

.grid-con-1 .grid-num {
    color: rgb(45, 140, 240);
}

.grid-con-2 .grid-con-icon {
    background: rgb(100, 213, 114);
}

.grid-con-2 .grid-num {
    color: rgb(45, 140, 240);
}

.grid-con-3 .grid-con-icon {
    background: rgb(242, 94, 67);
}

.grid-con-3 .grid-num {
    color: rgb(242, 94, 67);
}
.all{
	display: flex;
}
.grid{
	display: flex;
}
